<style>
    .box {
        color: #ffef00;
        background-color: #00bd10;
        padding: 12px;
        font-size: 30px;
        font-family: Arial;
    }
    .button {
        color: #ffef00;
        padding: 12px;
    }
    .button a {
        color: white;
        background-color: #00720e;
        font-size: 17px;
        padding: 12px;
        text-decoration: None;
    }
    .button a:hover {
        color: #ffef00;
        background-color: #005e0e;
    }
    .button button {
        color: white;
        background-color: #00720e;
        font-size: 17px;
        padding: 12px;
        border: None;
    }
    .button button:hover {
        color: #ffef00;
        background-color: #005e0e;
    }
</style>
<title>Sign up</title>
<body class="box">
<h2>Register</h2>
<form method="POST">
    {% csrf_token %}
    <table style="padding: 2ex;">
        {{ form.as_table }}
    </table>
    <div class="button">
        <button type="submit">Sign up</button>
        <a href="{% url 'login' %}?next={{request.path}}">Login</a>
        <a href="{% url 'polls:index' %}">Home</a>
    </div>
</form>
</body>
