.header {
    background-color: #00bd10;
    overflow: auto;
    text-align: center;
    padding: 12px;
    color: #ffef00;
    font-size: 30px;
    font-family: Arial;
}

.item {
    color: #ffef00;
    padding: 12px;
    text-align: left;
}
.item a {
    color: white;
    background-color: #00720e;
    font-size: 17px;
    padding: 12px;
    text-decoration: None;
}
.item a:hover {
    color: #ffef00;
    background-color: #005e0e;
}
