.header {
    background-color: #00bd10;
    overflow: auto;
    text-align: center;
    padding: 12px;
    color: #ffef00;
    font-size: 30px;
    font-family: Arial;
}

.item {
    text-align: right;
    padding: 12px;
    font-size: 17px;
    background-color: #00bd10;
    font-family: Arial
}

.item a {
    color: white;
    text-decoration: none;
    background-color: #00720e;
}

.item a:hover {
    color: #ffef00;
    background-color: #005e0e;
}
