.header {
    width: 100%;
    background-color: #00bd10;
    overflow: auto;
    text-align: center;
    padding: 12px;
    color: #ffef00;
    font-size: 30px;
}

.item {
    text-align: right;
    padding: 12px;
    font-size: 17px;
    background-color: #00bd10;
}

.item a {
    color: white;
    background-color: #00720e;
}

.item a:hover {
    color: #ffef00;
    background-color: #005e0e;
}

.item button {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    font-size: 17px;
    background-color: #00720e;
    border: none;
}

.item button:hover {
    color: #ffef00;
    background-color: #005e0e;
}
