{% load static %}
<link rel="stylesheet" href="{% static 'header.css' %}">
<div class="header">
    KU Polls<br>
    {% if user.is_authenticated %}
        <div class="item">
            <a href="{% url 'logout' %}">Log Out</a>
            <a href="{% url 'polls:index' %}">Home</a>
        </div>
    {% else %}
        <div class="item">
            <a href="{% url 'login' %}?next={{request.path}}">Login</a>
            <a href="{% url 'signup' %}?next={{request.path}}">Sign up</a>
            <a href="{% url 'polls:index' %}">Home</a>
        </div>
    {% endif %}
</div>
